services:
  neo4j:
    image: neo4j:5
    restart: always
    ports:
      - 7474:7474
      - 7687:7687
    environment:
      NEO4J_AUTH: none
      NEO4J_PLUGINS: '["apoc", "graph-data-science"]'
      NEO4J_client_allow__telemetry: 'false'
    volumes:
      - ./neo4j/data:/data
    healthcheck:
      test: ["CMD-SHELL", "wget --no-verbose --tries=1 --spider localhost:7474 || exit 1"]
